@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  @apply bg-menu;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p{
  line-height: 1.8em;
}

a {
  @apply text-primary;
}
a:hover,
a:focus,
a:active {
  @apply text-secondary;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -5px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 5px;
}
