@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    ul,
    ol {
        list-style: revert;
        margin-left: 1.5rem;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Rubik", Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    overflow-x: hidden;
    @apply bg-primary text-secondary;
}

strong {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    line-height: 2em;
}

h2 {
    font-size: 2.5rem;
    line-height: 2em;
}

p {
    line-height: 1.8em;
}

a {
    @apply text-secondary;
}

.menu a {
    @apply text-primary;
}

.menu button {
    @apply text-primary;
}

.footer {
    @apply text-white;
}

.footer a {
    @apply text-white;
}

.footer button {
    @apply text-white;
}

a:hover,
a:focus,
a:active {
    @apply text-tertiary;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    width: auto;
}

.my-masonry-grid_column {
    padding: 1px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
}